.Products{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
  margin: 5%;
  place-items:center;
  text-align: center;
  grid-gap: 2rem;
  grid-row-gap: 3rem
}
.product{
  cursor: pointer;
  margin: 3%;
  padding: 10% 5% 10% 5%;
  border-radius: 1rem;
  border: 1px solid #3e2093;
  /* background-color: #ffd11a; */
  /* background-color: #C780FA; */
  /*background: #2193b0;
  background: -webkit-linear-gradient(right, #6dd5ed, #2193b0);
  background: -o-linear-gradient(right, #6dd5ed, #2193b0);
  background: linear-gradient(to left, #6dd5ed, #2193b0);*/
  transition: all 0.2s linear;
}
.product:hover {
  background-color: #3e2093;
  color: white;
  transform: scale(1.03);

}

.image{
  width:150px;
  height:150px;
  /*width: 80%;
  height: 80%;
  background-color: #ffd11a;*/
}
.description{
  margin: 5px 5px;
}
.price{
  margin: 5px 5px;
  font-weight:
}
.btn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.btn:active {
	position:relative;
	top:1px;
}
